/* 
#################
#Admin-SYSTEM#
#################*/

/* # Allgemeine Elemente # */



/* CinemaGroupForm */

.editCinemaGroupStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.deleteCinemaGroupStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.newCinemaGroupStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

/* EditCinemaGroupDialogBox */

.cinemaGroupSafeStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.cinemaGroupCloseStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/* CinemaGroupAddDialogBox */

.cinemaGroupAddSafeStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.cinemaGroupAddCloseStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/* DeleteCinemaGroupDialogBox */

.deleteCinemaGroupYesStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.deleteCinemaGroupNoStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}



/* CinemaForm */


.editCinemaStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.newCinemaStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.deleteCinemaStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/* EditCinemaDialogBox */

.CinemaSafeStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.cinemaCloseStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/* CinemaAddDialogBox */


.cinemaAddSafeStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.cinemaAddCloseStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}


/* DeleteCinemDialogBox */


.deleteCinemaYesStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}


.deleteCinemaNoStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}



/* MovieForm */

.editMovieStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.newMovieStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.deleteMovieStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}



/*MovieAddDialogBox*/
.movieCloseBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;
}

.movieSafeBox:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

/* DeleteMovieDialogBox*/
.deleteMovieYesBox:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;
}

.deleteMovieNoBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;
}


/*EditMovieDialogBox*/

.MovieEditCloseBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;
}

.MovieEditSafeBox:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}



/* TimeslotForm */

.timeslotEditStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.timeslotNewStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.timeslotDeleteStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/*EditTimeSlot*/

.timeSlotEditClose:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.timeSlotEditSafe:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}
/* DeleteTimeSlotDialogBox*/
.timeSlotDeleteNo:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.timeSlotDeleteYes:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;
}

/*TimeSlotAddDialogBox*/
.timeSlotAddClose:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.timeSlotAddSafe:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

/*Delete



/* PresentationForm */

.presentationEditStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.presentationNewStyle:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.presentationDeleteStyle:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.searchStyle:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

/*PresentationEditDialogBox*/
.presentationSaveEditBox:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;	
}

.presentationCancelEditSBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/*PresentationNewDialogBox*/
.presentationNewSaveBox:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.presentationNewCancelBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.presentationDeleteSaveBox:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

/*PresentationDeleteDialogBox*/
.presentationDeleteSaveBox:hover{
	background: #169f11;
	color: #f2f2f2;
	transition: 0.5s;
}

.presentationDeleteCancelBox:hover{
background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;		
}

.presentationEditCloser:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}

.ff:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}


.editpressafe:hover{
	background: #1c59ae;
	color: #f2f2f2;
	transition: 0.5s;
}

.editpresclose:hover{
	background: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
}
/* .cinemagroupform:hover{
	ckground: #c91821;
	color: #f2f2f2;
	transition: 0.5s;	
 */







/* VerwaltungsForm */
