
/* 
#################
#Umfragen- Verwaltungs-SYSTEM#
#################*/
/* # Allgemeine Elemente # */




/*EditorForm*/




/*GruppenForm*/




/*UmfragenForm*/




/*VoteForm*/




.h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	text-align: -webkit-center;
}

.signinwithgoogle {
	margin-top: 1em;
	height: 50px;
}

.align-center {
	text-align: -webkit-center;
}

.AdminButton:hover{
	background: #169f11;
	color: white;
	transition: 0.5s;
   font-size: 15px;
   font-weight: bold;
}