<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Editor</servlet-name>
    <servlet-class>de.hdm.itprojekt.server.EditorAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Editor</servlet-name>
    <url-pattern>/itp_t4/editor</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>de.hdm.itprojekt.server.AdminAdministrationImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin/admin</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ITP_T4.html</welcome-file>
    <welcome-file>Admin.html</welcome-file>
  </welcome-file-list>
  
</web-app>
